




.logo {
    height: 25px;
    color: #f9faf8;
    font-size: 24px;
    display: inline ;
}

.top-hero{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1f2937;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.middle-hero{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #1f2937;    
    padding: 80px;
    display:flex
}



.main {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;font-family: Arial, Helvetica, sans-serif;
}

.quote{
    margin-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #e5e7eb;    
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;

}

.action-call {
    margin-top: 80px;
    display: flex;
    background-color: #3882f6; 
    color: white;
    justify-content: space-around;
    padding: 10;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 60px;
}

.action-button{
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-size:18px;
    background-color: #3882f6; 
    border-color: white;
}

footer {
    text-align: center;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

.cell1{
    
    flex: 50%;
    color: white;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: flex-start;
}
.cell2{
    
    flex: 50%;
    color: white;
    flex-direction: column;
}


.links {
    font-size:18px;
    float: right;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 5px;
}

.imageplaceholder {    
    flex: 50%;
    color: white;
    flex-direction: column;
    display:flex;
    color: white;
    background-color: #676e76; 
    justify-content: center; 
    align-items: center;
    height: 200px;
    text-align: center;
}

figcaption{
    text-align: center;
}

.images {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    justify-items: space-between;
    gap: 0px;
    padding: 0px;;
}

.myfigure {
    margin: 10px;
}

.smallimage {
    width: 100px;
    height: 100px;
    border-style:  solid;
    border-color: #3882f6;
    border-radius: 10px;
    text-align: center;
}


.bigfigure {
    border: 1px;
    background-color: rgb(60, 38, 42);
    border-style:  solid;
    width: 100px;
    height: 100px;
    border-color: rgb(64, 70, 55);
    padding: 90px;
    padding-left:150px;
    padding-right: 150px;
    margin:30px;
    float: right;
}

.heading {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text {
    font-size: 18px;
    font-weight: 900;
    margin-top: 10px;
}

.mybutton {
    color: white;
    background-color: #3882f6;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-size:18px;
}

